// variables
$card-spacing: 25px;
$card-backgorund-color: #fff;
$card-icon-size: 50px;

// styles
.card {
    position: relative;
    background: $card-backgorund-color;
    margin-bottom: $card-spacing;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    }

    &__text {
        padding: $card-spacing $card-spacing $card-spacing #{($card-spacing * 2) + $card-icon-size};
        line-height: 1.75em;
        
        p {
            margin: 0px;
        }
    }

    &__icon {
        img {
            position: absolute;
            width: $card-icon-size;
            height: $card-icon-size;
            top: $card-spacing;
            left: $card-spacing;
            border-radius: 50%;
        }
    }

    &__tags {
        padding: 0 $card-spacing $card-spacing #{($card-spacing * 2) + $card-icon-size};
    }
}