// variables
$search-spacing: 15px;

// styles
.search {
    &__label {
        padding-left: $search-spacing;
        font-weight: 600;
    }
    
    &__input {
        width: 100%;
        padding: $search-spacing;
        background: none;
        border: none;
        border-bottom: solid 1px #ccc;
        font-size: 1.5em;
        font-weight: 300;
        outline: none;
    }
}